node_modules/
~$tomated Testing.docx
~WRL3001.tmp
.env
jest-integration-test/node_modules/
jest-integration-test/*.log
jest-integration-test/coverage
learning-puppeteer/node_modules/
learning-puppeteer/*.png
learning-puppeteer/*.jpeg
learning-puppeteer/*.jpg