  
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Blog App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/"><span class="sr-only">Home</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/user/profile/<%=loggedInUserId%>'>Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='/createBlog'>Create Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/logout" onclick=window.location.reload()>Logout</a>
        </li>
    </div>
  </div>
</nav>
<script>
  let currentUrl = document.location.href;
  let navLinks = document.getElementsByClassName("nav-link");
  for (var i = 0; i < navLinks.length; i++) {
     navLinks[i].classList.remove('active')
    if(navLinks[i].href === currentUrl){
      navLinks[i].classList.add('active');
    }
  }
</script>